body {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

.timer p {
  font-size: 5rem;
  margin: 0;
  position: relative;
}

.signature {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1rem;
}

.signature-oz {
  color: #61dafb; /* Azul */
}

.signature-dev {
  color: #ccc; /* Gris claro */
}

.controls button, .mode-selector button {
  background-color: #61dafb;
  border: none;
  color: #282c34;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 1rem;
}
